
<html>
<head>
    <style type="text/css">
        .rm{
            background-color: yellow;
            color: blue;
            font-family: "Aldhabi";
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
<table align="center" border="0">
    <tr>
        <th width="250" class="rm">Login</th>
        <th width="250" class="rm">

            <a href="{% url 'register' %}">
            Register
            </a>

        </th>
    </tr>
</table>
</body>
</html>